@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    display: flex;
}

.video-fundo {
    width: 1915px;
    height: 915px;
    object-fit: cover;
}

h1 {
    position: absolute;
    top: 11%;
    left: 41%;
    font-family: "Play", serif;
    color: #16FEFF;
}

h2 {
    position: absolute;
    top: 16%;
    left: 24%;
    font-family: "Play", serif;
    color: #16FEFF;
}

.formulario {
    position: absolute;
    top: 25%;
    left: 39%;
    width: 400px;
    height: 600px;
    justify-content: center;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #F2D8F3;
    font-family: "Play", serif;
    color: white;
    font-size: large;
}

.formulario::placeholder {
    color: #F3C13A;
    font-size: large;
}

.botao {
    position: absolute;
    top: 40%;
    left: 20%;
    font-family: "Play", serif;
    background: rgba(0, 0, 0, 0.3);
    font-size: 25px;
    font-weight: 600;
    color: #F3C13A;
    border: 1px solid #F3C13A;
    width: 275px;
    height: 53px;
}

.myButton {
    position: absolute;
    top: 60%;
    left: 20%;
    font-family: "Play", serif;
    background: rgba(0, 0, 0, 0.3);
    font-size: 25px;
    font-weight: 600;
    color: #16FEFF;
    border: 1px solid #16FEFF;
    width: 275px;
    height: 53px;
}

.myButton button {
    position: absolute;
    top: -104%;
    left: -32%;
    font-family: "Play", serif;
    margin-left: 32%;
    margin-top: 20%;
    font-size: 25px;
    font-weight: 600;
    color: #16FEFF;
    border: 1px solid #16FEFF;
    width: 275px;
    height: 53px;
}

.limpeza {
    position: absolute;
    top: 80%;
    left: 20%;
    font-family: "Play", serif;
    background: rgba(0, 0, 0, 0.3);
    font-size: 25px;
    font-weight: 600;
    color: #EA7F87;
    border: 1px solid #EA7F87;
    width: 275px;
    height: 53px;
}

.FISIO {
    position: absolute;
    top: 50%;
    left: 20%;
    font-family: "Play", serif;
    background: rgba(0, 0, 0, 0.3);
    font-size: 21px;
    font-weight: 600;
    color: #6DA884;
    border: 1px solid #6DA884;
    width: 275px;
    height: 53px;
}

.NUTRI {
    position: absolute;
    top: 70%;
    left: 20%;
    font-family: "Play", serif;
    background: rgba(0, 0, 0, 0.3);
    font-size: 21px;
    font-weight: 600;
    color: #E5AB7F;
    border: 1px solid #E5AB7F;
    width: 275px;
    height: 53px;
}