@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    display: flex;
}

.video-fundo {
    width: 1915px;
    height: 915px;
    object-fit: cover;
}

.logo img {
    position: absolute;
    top: 11%;
    left: 26%;
}

.botao {
    position: absolute;
    top: 70%;
    left: 43%;
    justify-content: center;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid #FF2442;
    width: 275px;
    height: 53px;
}

.botao a {
    font-family: "Play", serif;
    text-decoration: white;
    font-size: 25px;
    font-weight: 600;
    color: #FF2442;
}